.divcentrado { /*Fet per Marcos Perez y Mario B. Ramirez*/
    text-align: center;
    /* Text-align para centra */
}

h1 {
    color: blue;
    /* Color para especificar el color*/
    font-weight: bold;
    /* Para poner en bold*/
    text-align: center
}

caption {
    color: blue;
    border: 0px;
    /* Para seleccionar el grossor del borde. En este caso, no hay borde*/
}


table {
    border-color:black;
    /* Para seleccionar el color del borde */
    border-width:2px;
    /* Para seleccionar el grossor del borde */
    border-style:solid;
    /* Para seleccionar el estilo del borde */
    border-collapse:collapse
    /* Para decir que el borde sea uno */

}

tr {
    border-color:black;
    border-width:1px;
    border-style:solid;
}

th {
    background-color: #C8A2C8;
    text-align: center;
    font-weight: bold;
    border-color:black;
    border-width:1px;
    border-style:solid;

}

td {
    border-color:black;
    border-width:1px;
    border-style:solid;
}